#d10 {
    display:inline-block;
    background-color: rgb(255, 255, 255);
    width:1902px;
    flex-direction:column;
    align-items:center;
    justify-content:center; 
}
#d20 {
    background-color: rgb(215, 230, 255);
    display:flex;
    height: 350px;
    width: inherit;
    flex-direction:column;
    align-items:flex-start;
    justify-content:left;
}
#d21 {
    background-color: rgb(255, 255, 255);
    display:flex;
    height: 1350px;
    width: inherit;
    flex-direction: row;
    align-items:flex-start;
    justify-content:left;
}
#d22{
    background-color: rgb(255, 255, 255);
    display:flex;
    height: 300px;
    width: 100%;
    flex-direction: row;
    align-items:center;
    justify-content:center;    
}
#d30 {
    background-color: rgb(114, 165, 255);
    display:flex;
    flex-direction: column;
    width: 1300px;
    height: 200px;
    align-items:flex-start;
    justify-content:center;
    position:absolute;
    z-index: 1;
    top: 100px;
    left: 400px;
}
#d41 {
    background-color: rgb(120, 230, 224);
    display:flex;
    flex-direction: column;
    width: 160px;
    height: 240px;
    align-items:center;
    justify-content:center;    
}
#d31 {
    background-color: rgb(155, 192, 255);
    display:flex;
    position:relative;
    flex-direction: column;
    left: 100px;
    top:-50px;
    width: 344px;
    height: 1350px;
    align-items:flex-start;
    justify-content:flex-start;    
}
#d32 {
    background-color: rgb(255, 255, 255);
    display:flex;
    position:relative;
    left:170px;
    flex-direction: column;
    width: 1080px;
    height: 1350px;
    z-index: 0;
    align-items:flex-start;
    justify-content:flex-start;    
}
#d40 {
    background-color: rgba(155, 192, 255, 0);
    display:flex;
    position: relative;
    top: 70px;
    left: 50px;
    height: 1150px;
    width: 250px;
    flex-direction:column;
    align-items:flex-start;
    justify-content:left;
}
#img1 {
    border: 10px solid rgb(250, 250, 250);
    position: relative;
    z-index: 2;
    top: 100px;
    left: 140px;
    width: 240px;
    height: 240px;    
}
#t1 {
    font-size: 50px;
    position:relative;
    left:100px;
    font-style: normal;
    font-family: sans-serif;
}
#t2 {
    font-size: 25px;
    position:relative;
    left:100px;
    top:10px;
    font-style: normal;
    font-family: sans-serif;
}
.titulo1 {
    font-size: 25px;
    font-style: normal;
    font-family: sans-serif;
    font-weight: bolder;   
    margin-bottom: 25px;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;  
}
.titulo2 {
    font-size: 30px;
    font-style: normal;
    font-family: sans-serif;
    height:42px;
    font-weight: bolder;  
    margin-bottom: 25px; 
    color: rgb(114, 165, 255);
}
.raya1{
    background-color: rgb(255, 255, 255);
    display:flex;
    height: 5px;
    width: 250px;
    margin-top: 25px;
    margin-bottom: 25px;
    flex-direction:column;
    align-items:flex-start;
    justify-content:left;         
}
.raya2{
    background-color: rgb(114, 165, 255);
    display:flex;
    height: 5px;
    width:100%;
    margin-top: 35px;
    margin-bottom: 35px;
    flex-direction:column;
    align-items:flex-start;
    justify-content:left;         
}
.info{
    font-size: 15px;
    font-style: normal;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 1px;   
    margin-bottom: 5px;
}
.proyectos{
    font-size: 16px;
    font-style: normal;
    font-family: sans-serif;
    font-weight:lighter;
    line-height: 30px;
    letter-spacing: 2px;   
}
#textbox1{
    background-color: rgb(255, 255, 255);
    display:flex;
    flex-direction: column;
    width:100%;
    height: 1100px;
    align-items:flex-start;
    justify-content:flex-start;     
}
.l1 {
    list-style-type:disc; 
}
.l2 {
    list-style-type:disc; 
}
.t3 {
    font-size: 20px;
    font-style: normal;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 5px;
    letter-spacing: 1px;     
}
.t4 {
    font-size: 15px;
    font-style: normal;
    font-family: sans-serif;
    font-weight: normal;
    margin-bottom: 5px;
    letter-spacing: 2px;  
}
.t5 {
    font-size: 13.5px;
    font-style: normal;
    font-family: sans-serif;
    font-weight: normal;  
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 2px;
}
.t6 {
    font-size: 26px;
    font-style: normal;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
    letter-spacing: 1px;     
}
.t7 {
    font-size: 18px;
    font-style: normal;
    font-family: sans-serif;
    font-weight: normal;
    margin-bottom: 10px;
    letter-spacing: 2px;  
}
#logos{
    position: fixed;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    top: 500px;
    right: 50px;
    height: 270px;
    width: 58px;
    border-radius: 15px;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(114, 165, 255);
}
#idioma{
    position: fixed;
    display:flex;
    flex-direction: column;
    top: 350px;
    right: 50px;
    height: 85px;
    width: 58px;
    z-index: 1;
    align-items:center;
    justify-content:center;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(114, 165, 255);
}
.logos {
    width: 46px;
    height: 46px;      
}
.logoidioma {
    width: 50px;
    height: 30px;      
}

.logodrop {
    background-color: rgba(255, 0, 0, 0);
    color: rgba(255, 255, 255, 0);
    position:absolute;
    border: none;
    left: -25px;
    width: 100px;
    height: 50px;
}
  
.dropdown {
    width: 50px;
    height: 50px;
    position: relative;
    display: inline-block;
  }
  

.dropdown-content {
    display:none;
    position: absolute;
    top: 0px;
    right: 65px;
    background-color: rgb(114, 165, 255);
    width: 350px;
    height: 50px;
    border-radius: 15px;
    z-index: 1;
    flex-direction:column;
    align-items:center;
    justify-content:center;
  }
  
.dropdown-content p {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    font-size: 20px;
    font-style: normal;
    font-family: sans-serif;
    font-weight: normal;
    letter-spacing: 2px; 
}
.dropdown-content a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    font-size: 18px;
    font-style: normal;
    font-family: sans-serif;
    font-weight: normal;
    letter-spacing: 0.5px; 
}
.printimg {
    width: 46px;
    height: 46px;       
}
.printcontact{
      display: flex;
      flex-direction: row;
      height: 46px; 
      align-items:center;
      justify-content:center;      
}
.printtext{
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: block;
    font-size: 18px;
    font-style: normal;
    font-family: sans-serif;
    font-weight:bolder;
    letter-spacing: 2px;      
}
.printspace{
    width: 20px;
}
.printborder{
    border:5px solid rgb(133, 133, 133)
}
.dropdown-content p:hover {background-color: rgb(114, 165, 255);}
.dropdown:hover .dropdown-content {display: flex;}
.print {
    display: none;
}
@media print {
    .page {
       display: none;
    }
    .print {
       display: block;
       position: relative;
       left:-10px;
       zoom: 60%;      
    }
}